.footer {
    margin-top: 120px;
    border-top: 1px solid var(--mantine-color-dark-4);
    background-color: var(--mantine-color-body);
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    @media (max-width: 48em) {
        flex-direction: column;
        gap: 16px;
    }
}